<div class="interactive-main">
  <div class="where-to-go-header">
    <div class="where-to-go-header--image">
      <img class="video-image"
        src="https://media.guim.co.uk/03707ada3392b19b3e559ea3fc627c001c229810/255_512_3907_2344/2000.jpg" />
      <div class="image--overlay"></div>
      <div class="where-to-go-header--title">
        <div class="gs-container">
          <div class="content__main-column">
            <h2><span class="large light-highlight">TV and Film</span></h2>
            <h1>
              <span class="large dark-highlight">What's on Netflix and Amazon this month – June 2020
              </span>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="where-to-go-header--standfirst">
    <div class="standfirst--wrapper section">
      <div class="content__main-column">
        <!-- <p class="strap date">Our monthly rundown of the best TV shows and films on streaming services</p> -->
        <p class="content__dateline" aria-hidden="true">
          <time itemprop="datePublished" datetime="2018-06-01T11:30:00+0100" data-timestamp="1527845644000"
            class="content__dateline-wpd js-wpd content__dateline-wpd--modified">
            Monday 1 June 2020
            <span class="content__dateline-time">11.00&nbsp;BST</span>
          </time>
          <time datetime="2018-06-01T11:30:00+0100" data-timestamp="1527846325000"
            class="content__dateline-lm js-lm u-h" itemprop="dateModified">
            Last modified on Monday 1 June 2020
            <span class="content__dateline-time">09.30&nbsp;BST</span>
          </time>
        </p>
        <div class="byline-wrap">
          <p class="byline">
            By
            <a href="https://www.theguardian.com/profile/hannah-j-davies">
              Hannah J Davies</a>
            and
            <a href="https://www.theguardian.com/profile/ammar-kalia">Ammar Kalia</a>
            <!-- and Francesca Frankis -->
            <!-- <a href="https://www.theguardian.com/profile/gwilym-mumford">Gwilym Mumford</a>, <a
							href="https://www.theguardian.com/profile/kate-abbott">Kate Abbott</a>, <a
							href="https://www.theguardian.com/profile/luke-holland">Luke Holland</a> and <a
							href="https://www.theguardian.com/profile/ammar-kalia">Ammar Kalia</a>. -->
          </p>
        </div>
      </div>
      <div class="where-to-go--menu--placeholder"></div>
      <div class="where-to-go--menu">
        <div class="gs-container">
          <div class="content__main-column">
            <ul>
              <li class="jump">Jump to</li>
              <li>
                <a data-link-name="people menu" href="#people">Netflix</a>
              </li>
              <li>
                <a data-link-name="food menu" href="#FoodDrink">Amazon</a>
              </li>
              <li>
                <a data-link-name="places menu" href="#places">iPlayer</a>
              </li>
              <li>
                <a data-link-name="books menu" href="#books">Best of the rest</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Adding in this empty div to inject the html we render in app.js into -->
  <div class="interactive-blocks"></div>

  <!-- carousel at bottom -->
  <div class="readmore-container">
    <div class="gs-container">
      <div class="related-content related-content__wrapper content__main-column">
        <h1 class="related-content__headline">Read more</h1>
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="related-content__slide swiper-slide">
              <div class="related-content__slide__content">
                <div class="related-content__slide__content__wrapper">
                  <div class="related-content__slide__content__image related-content__slide__content__image1"></div>
                  <a class="related-content__slide__content__title"
                    href="https://www.theguardian.com/tv-and-radio/series/my-lockdown-tv"
                    data-link-name="what to watch: link one">
                    <span>Series /</span> TV stars on their favourite shows to
                    watch during self-isolation
                    <svg width="100%" height="100%" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="11" cy="11.7218" r="11" fill="#121212" />
                      <path
                        d="M17.7457 11.5826L11.5631 5.38046L11.2696 5.96742L15.7109 11.2892H4.20654V12.4631H15.7109L11.2696 17.7652L11.5631 18.3522L17.7457 12.1696V11.5826Z"
                        fill="white" />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            <div class="related-content__slide swiper-slide">
              <div class="related-content__slide__content">
                <div class="related-content__slide__content__wrapper">
                  <div class="related-content__slide__content__image related-content__slide__content__image2"></div>
                  <a class="related-content__slide__content__title"
                    href="https://www.theguardian.com/tv-and-radio/2020/apr/14/arnold-schwarzenegger-naomi-campbell-coronavirus-best-web-series"
                    data-link-name="what to watch : link two">
                    From Arnold Schwarzenegger to Naomi Campbell: the best of
                    celebrity quaran-TV
                    <svg width="100%" height="100%" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="11" cy="11.7218" r="11" fill="#121212" />
                      <path
                        d="M17.7457 11.5826L11.5631 5.38046L11.2696 5.96742L15.7109 11.2892H4.20654V12.4631H15.7109L11.2696 17.7652L11.5631 18.3522L17.7457 12.1696V11.5826Z"
                        fill="white" />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            <div class="related-content__slide swiper-slide">
              <div class="related-content__slide__content">
                <div class="related-content__slide__content__wrapper">
                  <div class="related-content__slide__content__image related-content__slide__content__image3"></div>
                  <a class="related-content__slide__content__title"
                    href="https://www.theguardian.com/culture/series/what-im-really-watching"
                    data-link-name="what to watch: link three">
                    <span>Series /</span> What I'm really watching
                    <svg width="100%" height="100%" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="11" cy="11.7218" r="11" fill="#121212" />
                      <path
                        d="M17.7457 11.5826L11.5631 5.38046L11.2696 5.96742L15.7109 11.2892H4.20654V12.4631H15.7109L11.2696 17.7652L11.5631 18.3522L17.7457 12.1696V11.5826Z"
                        fill="white" />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            <div class="related-content__slide swiper-slide">
              <div class="related-content__slide__content">
                <div class="related-content__slide__content__wrapper">
                  <div class="related-content__slide__content__image related-content__slide__content__image4"></div>
                  <a class="related-content__slide__content__title"
                    href="https://www.theguardian.com/tv-and-radio/2020/mar/28/30-tv-hidden-gems-to-stream"
                    data-link-name="what to watch : link four">
                    Here are 30 TV hidden gems to stream
                    <svg width="100%" height="100%" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="11" cy="11.7218" r="11" fill="#121212" />
                      <path
                        d="M17.7457 11.5826L11.5631 5.38046L11.2696 5.96742L15.7109 11.2892H4.20654V12.4631H15.7109L11.2696 17.7652L11.5631 18.3522L17.7457 12.1696V11.5826Z"
                        fill="white" />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            <div class="related-content__slide swiper-slide">
              <div class="related-content__slide__content">
                <div class="related-content__slide__content__wrapper">
                  <div class="related-content__slide__content__image related-content__slide__content__image5"></div>
                  <a class="related-content__slide__content__title"
                    href="https://www.theguardian.com/tv-and-radio/2019/sep/16/100-best-tv-shows-of-the-21st-century"
                    data-link-name="what to watch : link five">
                    The 100 best TV shows of the 21st century
                    <svg width="100%" height="100%" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <circle cx="11" cy="11.7218" r="11" fill="#121212" />
                      <path
                        d="M17.7457 11.5826L11.5631 5.38046L11.2696 5.96742L15.7109 11.2892H4.20654V12.4631H15.7109L11.2696 17.7652L11.5631 18.3522L17.7457 12.1696V11.5826Z"
                        fill="white" />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next" data-link-name="what to watch : next arrow"></div>
        <div class="swiper-button-prev" data-link-name="what to watch : prev arrow"></div>
      </div>
    </div>
  </div>
</div>